@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Muscu</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Bienvenue sur le réseaux social des mecs qui font la muscu</h2>
        <p>
            Notre devise: "STRENGHT NO WEEKNESS".
        </p>
    </div>
    <div class="col-md-4">
        <p><a class="btn btn-default" href="http://www.asp.net/mvc/tutorials/getting-started-with-ef-using-mvc/">Login &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <p><a class="btn btn-default" href="http://code.msdn.microsoft.com/ASPNET-MVC-Application-b01a9fe8">S'inscrire &raquo;</a></p>
    </div>
</div>