@{
    ViewData["Title"] = "Users";
}

<div class="row">
    <div class="col-md-4 col-md-offset-2 col-xs-12">
        <h3>Prénom</h3>
        <h3>@Model.Name</h3>
    </div>
    <div class="col-md-4 col-xs-12">
        <div class="create_story">
            <form action="/" method="post">
                <div class="form-group">
                    <label for="story">Story</label>
                    <textarea id="story" class="form-control" rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-default">New Story</button>
            </form>
        </div>
    </div>
</div>
<div class="row">
        <div class="story col-md-5 col-xs-12 col-md-offset-1">
            <h3>Name of story</h3>
            <p>Lorem ipsum dolor sit amet xavier ressemble à jamie foxx oomg</p>
        </div>
        <div class="story col-md-5 col-xs-12 col-md-offset-1">
            <h3>Name of story</h3>
            <p>Lorem ipsum dolor sit amet theo ressemble à tortank hydrocanooooonnnn</p>
        </div>
        <div class="story col-md-5 col-xs-12 col-md-offset-1">
            <h3>Name of story</h3>
            <p>Lorem ipsum dolor sit amet Baptiste est notre maitre à tous, il inspire le respect, aime des autres et guide les autres à
            travers les chemins tenebreux</p>
        </div>
</div>
